.container {
    display:flex;
}

@font-face {
    font-family: 'Nimbus Sans Thai';
    src: url('fonts/NimbusSanL-Reg.otf') format('truetype');
}

@font-face {
    font-family: 'Georgia Pro Semibold';
    src: url('fonts/GeorgiaPro-Semibold.ttf') format('truetype');
}

h1 {
    font-size: 25px;
    font-family: 'Nimbus Sans Thai', Arial, sans-serif;
    font-weight:600;
    content:'\f508';
}

input {
    text-align:right;
    direction: rtl;
    width: 70px;
}

h2 {
    color:#B5131A;
    font-family: "Georgia Pro Semibold", Georgia, serif;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    font-size:15px;
    font-weight:900px;
}

.main-box {
    background-color:#E9EFF1;
    padding-right: 100px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius:3px;
    border:1px solid #63c7ef1a;
}

table {
    margin-left:35px;
    margin-top:10px;
}

#boundtable {
    border-spacing: 0 10px;
}

#new-grade {
    padding-bottom:140px;
}

.tally {
    color: #B5131A;
}

td {
    font-size: 13px;
    font-weight: 400;
    font-family: "Georgia Pro Semibold", Georgia, serif;
}

.left-td {
    margin-right:80px;
    display:inline-block;
}

label {
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
    font-family: "Georgia Pro Semibold", Georgia, serif;
    font-size: 12px;
}

#grade-input {
    width: 100px;
}

input {
    font-family: "Georgia Pro Semibold", Georgia, serif;
    font-size: 11px;
    padding:3px;
}

.icon-class {
    margin-right:3px;
}